*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 60%;
    height: 500px;
    background: #5d3a3a;
}
div{
    height: 300px;
    width: 300px;
    background: #b5e0ba;
}
    
