.container{
    border: 2px solid red;
    height: 50vh;
    width: 50%;
    grid-template-columns: repeat(6,1fr);
    display: grid;
    grid-template-rows: auto auto ;
    gap: 10px;
    
    
}
.items{
    border: 2px solid black;
    background-color: rgb(82, 9, 207);
}
.item1{
    
    grid-column: 1/span 5;
}
.item2{
   
}

    

.item3{
    grid-column: 1 /span 2;
    
    
}
.item4{
   grid-column: 3 / span 3;
}



